.openerp .oe_button_cancel {
  font-weight: normal;
  width: 132px !important;
  height: 30px;
  color: #FFFFFF;
  margin: 0px -1px -1px 0px;
  padding: 0;
  border: 1px solid #dddddd;
  border-radius: 0;
  box-shadow: none;
  background: gray;
}
.openerp .oe_form_sheetbg {
  padding: 16px 0;
  max-width: none !important;
}
.openerp .oe_form_sheet_width_wider {
  min-width: 650px;
  max-width: 1100px;
  margin: 0 auto;
}